@charset "utf-8";

#section01 .parallex-item-img {
  background-image: url("https://picsum.photos/300/300?random=1");
}
#section02 .parallex-item-img {
  background-image: url("https://picsum.photos/300/300?random=2");
}
#section03 .parallex-item-img {
  background-image: url("https://picsum.photos/300/300?random=3");
}
#section04 .parallex-item-img {
  background-image: url("https://picsum.photos/300/300?random=4");
}
#section05 {
  flex-direction: column;
}
#section05 .parallex-item-text {
  font-size: 5vw;
  font-weight: bold;
}
